* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

.pkmn-card {
  height: 6.125rem;
  transition: 0.5s;
  width: 4.375rem;
}

.pkmn-card:hover {
  cursor: pointer;
  transform: translateY(-6.125rem) scale(3);
}

.opp-pkmn-card {
  animation: fade-in-down;
  height: 6.125rem;
  transition: 0.5s;
  width: 4.375rem;
}

.opp-pkmn-card:hover {
  cursor: pointer;
  transform: translateY(6.125rem) scale(3);
}

.hand-card {
  animation: bounce-in-right 2s ease 1;
}

.table-card {
  animation: fade-in-down 1s ease 1;
}

.energy {
  animation: grow 0.5s ease 1;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}