* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

.pkmn-card {
  animation: bounce-in-right 2s ease 1;
  height: 6.125rem;
  transition: 0.5s;
  width: 4.375rem;
}

.pkmn-card:hover {
  cursor: pointer;
  transform: translateY(-6.125rem) scale(3);
}

.opp-pkmn-card {
  animation: bounce-in-right 2s ease 1;
  height: 6.125rem;
  transition: 0.5s;
  width: 4.375rem;
}

.opp-pkmn-card:hover {
  cursor: pointer;
  transform: translateY(6.125rem) scale(3);
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}