* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

.pkmn-card {
  height: 6.125rem;
  transition: 0.5s;
  width: 4.375rem;
}

.pkmn-card:hover {
  cursor: pointer;
  transform: translateY(-40px) scale(2);
}